body {
  background-color: black;
  color:white;
}
.list-logo {
  list-style-type: none;
}
.customnav {
  background-color: black;

}
a {
  color: gray;
}
.img-circle {
  background=image:url("../images/me2.jpg");
  z-index: 1;
}
.profile {
  background-image: url("../images/picforpic2.png");
  background-position: center center;
  background-size: cover;
opacity: .6;
}

#headingtext{
  text-align: center;
  color:gray;
}
.custom > li > a : visited{
  color: blue;

}
.custom {
  float: right;
}
.profile h1 {
  color:white;
  text-align: center;
  letter-spacing: .5em;
}
.profile img{

  z-index: 1;
      display: block;
      margin: 0 auto;


}
.projects {
  background-image: url("../images/picforpic.png");
  background-position: center center;
  height: 300px;
  background-size:cover;
  color: white;
    opacity: .6;
}
.projects2 {
  background-image: url("../images/picforpic.png");
  background-position: center center;
  height: 400px;
  background-size:cover;
  color: white;
  opacity: .6;
}
.lang {
  color: white;
  background-image: url("../images/basic.png");
  background-size:cover
  opacity: .6;
}
.lang ul{
  list-style-type: none;

}
.class {
background-image: url("../images/container2.png");
 color:white;
 opacity: .6;
}
.edu {
  background-image: url("../images/project-back.png");
  opacity: .6;
  color: white;
  background-size:cover
}
.footer {
  background-image: url("../images/picforpic.png");
  color:white;
  background-size:cover
  opacity: .6;
}
.customnav {
  float: right;
}
