body {
  background-color: black;
  color:gray;
  position: relative;
}

.container {
  color: white;
  background-size: cover;

}
.active {
  color: blue;
  background-color: blue;
}
.list-logo {
  list-style-type: none;
}
.about {
  background-image: url("../images/project-back.png");
  font-size: 20px;
}
.showing {
  display: none;
}


.customnav {
  background-color: black;

}

li:hover + div {
  display: block;
}
#center {
  text-align: center;
}
a {
  color: gray;
}
.img-circle {
  background=image:url("../images/me2.jpg");
  z-index: 1;
}
.profile {
  background-image: url("../images/picforpic2.png");
  background-position: center center;
  background-size: cover;
  color: white;
}

#headingtext{
  text-align: center;
  color: gray;
}

.custom {
  float: right;
}
.profile h1 {
  text-align: center;
  letter-spacing: .5em;
}
.profile img{

  z-index: 1;
      display: block;
      margin: 0 auto;


}
.projects {
  background-image: url("../images/picforpic.png");
  background-position: center center;
  height: 300px;
  color: white;
  background-size:cover;
}
.projects2 {
  background-image: url("../images/picforpic.png");
  background-position: center center;
  height: 400px;
}
.lang {
  background-image: url("../images/basic.png");

}
.lang ul{
  list-style-type: none;

}
.class {
background-image: url("../images/container2.png");

}
.edu {
  background-image: url("../images/project-back.png");

}
.footer {
  background-image: url("../images/picforpic.png");


}

.customnav {
  background-color: black;
}
